export(active_adaptive_simulate)
export(BevHolt)
export(BevHolt_effort)
export(coral)
export(determine_SDP_matrix)
export(dp_optim)
export(find_dp_cautious)
export(find_dp_optim)
export(ForwardSimulate)
export(integrate_SDP_matrix)
export(May)
export(model_uncertainty)
export(Myer_harvest)
export(Myers)
export(optim_policy)
export(plot_replicates)
export(profit_effort)
export(profit_harvest)
export(Ricker)
export(RickerAllee)
export(SDP_by_simulation)
export(setmodel)
export(simulate_optim)
export(update_belief)
import(cubature)
import(expm)
import(ggplot2)
import(Hmisc)
import(reshape2)
import(snowfall)
