export(BevHolt)
export(BevHolt_effort)
export(ForwardSimulate)
export(Myer)
export(Myer_harvest)
export(Ricker)
export(RickerAllee)
export(SDP_by_simulation)
export(coral)
export(determine_SDP_matrix)
export(find_dp_optim)
export(integrate_SDP_matrix)
export(optim_policy)
export(plot_replicates)
export(profit_effort)
export(profit_harvest)
export(simulate_optim)
import(Hmisc)
import(RCurl)
import(cubature)
import(expm)
import(ggplot2)
import(reshape)
import(snowfall)
