*.Rhistory
*.Rproj
*.jpg
*.html
*.png
*.tex
*.pdf
cache/
badoutcome/
voi_May/
policycosts/L2/
cache*
NA
bh_lognormal/
core
managed_warning2/
measurement.md
policycosts/.gitignore
policycosts/7640241-policycost-cache/
policycosts/cache-archive/
policycosts/costfree/
policycosts/errors_table/
policycosts/fig4_helper_fn.R
policycosts/figure4/
policycosts/output.csv
policycosts/output.md
policycosts/policycosts-cache-c0-0/
policycosts/policycosts-cache-c0-30/
policycosts/policycosts_c0_0.md
policycosts/policycosts_c0_30.md
policycosts/policycosts_writeup_c0_0.md
policycosts/policycosts_writeup_c0_30.md
policycosts/run.R
policycosts/run3.R
policycosts/writeup-old/
run.R
runbias.R
sethi_pars_alllownoise/
value_of_information_symmc/

